body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

.container {
  margin-top: 100px;
}

input {
  display: block;
  margin: 10px auto;
  padding: 10px;
  width: 80%;
}

button {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  background: linear-gradient(45deg, #6366f1, #ec4899);
  border: none;
  color: white;
  border-radius: 8px;
}

#chatBox {
  height: 300px;
  overflow: auto;
  border: 1px solid white;
  margin: 10px;
}